<div class="btn">
  <%= link_to 'Back', root_url %>
</div>

<h2> Subordinates</h2>
Total: <%= @subordinates.count %>
<hr>
<ol>
  <% @subordinates.each do |sub| %>
    <li><%=link_to sub.name, sub %></li>
  <%end%>
</ol>
